  /* Mobile */
    
  @media(max-width: 600px){
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
        'nav'
        'main'
        'content1'
        'content2'
        'content3'
        'content4'
        'footer';
        grid-gap: 10px;
        padding: 0 10px;
    }
 
nav {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    padding: 5px;
}

main {
    grid-area: main;
    padding: 0;
}

#content1 {
    display: flex;
    grid-area: content1;
    padding: 50px 0 0 0;
    align-content: center;
}

#content2 {
    grid-area: content2;
    padding: 5px;
}

#content3 {
    grid-area: content3;
    padding: 5px;
}
#content4 {
    grid-area: content4;
    padding: 5px;
}

footer {
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    padding: 10px;
    margin: 0;
}
}


 /* Tablets */
    
 @media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'nav nav nav nav'
            'main main main main'
            'content1 content1 content2 content2'
            'content3 content3 content4 content4'
            'footer footer footer footer';
        grid-gap: 10px;
        padding: 0;
        margin: 20px;
    }

  nav {
      display: flex;
      flex-direction: column;
      grid-area: nav;
      padding: 5px;
  }
  
  main {
      grid-area: main;
      padding: 0;
  }
  
  #content1 {
      grid-area: content1;
      padding: 5px;
  }
  
  #content2 {
      grid-area: content2;
      padding: 5px;
  }
  
  #content3 {
      grid-area: content3;
      padding: 5px;
  }
  #content4 {
      grid-area: content4;
      padding: 10px;
  }
  
  footer {
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    padding: 10px;
    margin: 0;
}
  }
  






/* Desktops */
@media (min-width:901px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'nav nav nav nav'
            'main main main main'
            'content1 content1 content2 content2'
            'content3 content3 content4 content4'
            'footer footer footer footer';
        grid-gap: 10px;
        padding: 0 20px;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        grid-area: nav;
        padding: 10px;
    }
    
    main {
        grid-area: main;
        padding: 80px 20px;
        margin: 10px 50px 10px 100px;
    }
    
    #content1 {
        display: flex;
        grid-area: content1;
        padding: 10px;
        justify-content: center;
    }
    
    #content2 {
        grid-area: content2;
        padding: 30px;
    }
    
    #content3 {
        grid-area: content3;
        padding: 10px;
    }
    #content4 {
        grid-area: content4;
        padding: 10px;
    }
    
    footer {
        background: #E7E7E7;
        display: flex;
        flex-direction: row;
        grid-area: footer;
        padding: 10px;
        margin: 0;
    }
    }
    
   
