
@import url(homepage.css);
@import url(blog-post.css);
@import url(stylesheet2.css);

* {
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px auto;
  font-size: 16px;
  background: #FFF;
}
h1 {
    font-size: 3em;
    font-weight: 600;
}
h2 {
    font-size: 2em;
    font-weight: 600;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}

a {
    text-decoration: underline;
    color:rgb(73, 73, 73);
}

a:hover {
    color:rgb(26, 25, 25);
}

p {
    line-height: 2;
    font-size: 1rem;
    line-height: 1.6;
}

